/**
 * Styling and overrides for
 * WLU web branding guideline
 *
 */

@font-face {
    font-family: CallunaSans;
    src: url(fonts/CallunaSansRegular.woff2);
}
 
/* Colours */
.wlu-purple {
	background-color: #330072;
	background-color: rgb(51,0,114);
	color: #330072;
	color: rgb(51,0,114);
}

.wlu-gold {
	background-color: #F2A900;
	background-color: rgb(242,169,0);
	color: #F2A900;
	color: rgb(242,169,0);
}

.wlu-green {
	background-color: #6B7036;
	background-color: rgb(107,112,54);
	color: #6B7036;
	color: rgb(107,112,54);
}

.wlu-red {
	background-color: #DB2C39;
	background-color: rgb(219,44,57);
	color: #DB2C39;
	color: rgb(219,44,57);
}
 
.light-purple {
	background-color: #5b328e;
	background-color: rgb(91,50,142);
	color: #5b328e;
	color: rgb(91,50,142);
}

.bright-blue {
	background-color: #007CBD;
	background-color: rgb(0,124,189);
	color: #007CBD;
	color: rgb(0,124,189);
} 

.text-primary {
	color: #444444;
	color: rgb(68, 68, 68);
}
.text-secondary {
	color: #444444;
	color: rgb(68, 68, 68);
}
.text-accent {
	color: #444444;
	color: rgb(68, 68, 68);
}
 
 
.card-colour-top {
	height: 100px;
	width: 100%;
}

.calluna {
	font-family: "CallunaSans", sans-serif;
	font-size: 18px;
}
.calluna .card-title {
	font-size: 30px;
}